/* style du header, centrage du titre, image de profil à droite */
header{
    width: 100%;
    background-color: crimson;
    border-radius: 15px;
    text-align: center;
    height: 150px;
    }
    header img{
        width: 150px;
    }

    .conteneur{
    display: flex; 
    flex-direction: row;
    justify-content:space-between;
    }
     .vide{
        display: flex;
        justify-content: left;
    } 
    .titre{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    }
/* style de la partie profil et contact */
    .enTete{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    }
    .enTete > div{
        margin-left: 50px;
        width: 50%;
        text-align: center;
    }
    .paraEnTete{
    display: flex;
    flex-direction: column;
    }