*{
    margin: 5px;
    padding: 5px;
    border-radius: 25px;
    font-family: Georgia;
    font-size: 17px;
    color:rgb(170, 174, 182);
}
body{
    margin-top: 75px;
}
h1{
    color:rgb(209,215,224);
    font-size: 60px;
}
h2{
    color:rgb(209,215,224);
    font-size: 50px;
}
h3{
    color:rgb(209,215,224);
    font-size: 30px;
}
.lightMode{
    color:rgb(17,19,21);
    background: white;
}
.darkMode{
    color:rgb(209,215,224);
    background: rgb(17,19,21);
}
header{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 0;
    top: 0;
    z-index: 1000;
    background: rgb(5, 5, 139);
    margin-top: 0;
}
header a {
    color:rgb(170, 174, 182);
}
.titre{
    margin-left: 5px;
    text-align: center;
    height: 150px;
    display: grid;
    position:sticky;
    height: 20vh;
    min-height: 150px;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 1);
    background-image: url(images/backgroundHeader.jpg);
    color: whitesmoke;
}
#switchMode{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex; 
    flex-direction: row;
    justify-content:center;
}
.main{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
}
.accordion{
    flex-direction: column;
    margin: 20px;
    width: 70%;
}
.codewars{
    margin: 20px;
    height:max-content;
    background: rgb(5, 5, 139);
}
.accordion-body { 
    color:whitesmoke;
    background: rgb(12,12,12);
    } 
.accordion-item {
    color:whitesmoke;
    background: rgb(5,5,139);
}
.accordion-button {
    color:rgb(209,215,224);
    background: rgb(12,12,12);
    font-size: 30px;
}
.accordion-button:not(.collapsed) {
    color:rgb(209,215,224);
    background: rgb(12,12,12);
  }
.logo{
    width : 60px;
    height : 60px;
    border-radius: 0px;
}
